<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: header">Header</div>

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">设备管理</h4>
                </div>
            </div>

            <div class="pull-right">
                <a href="/admin/page/new" class="btn btn-success waves-effect waves-light m-b-5">添加新设备</a>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>设备Id</th>
                    <th>设备名称</th>
                    <th>创建人</th>
                    <th width="20%">创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>


                <tr th:each="device,iterStat : ${devices}">
                    <th th:text="${device.id}"></th>
                    <th th:text="${device.name}"></th>
                    <th th:text="${device.user}"></th>
                    <td th:text="${device.createTime}"></td>
                    <td>
                        <a href="" class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                class="fa fa-edit"></i> <span>编辑</span></a>
                        <a href="javascript:void(0)" th:onclick="${'delPost('''+device.id+''')'}"
                           class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                class="fa fa-trash-o"></i> <span>删除</span></a>
                        <a class="btn btn-warning btn-sm waves-effect waves-light m-b-5" href=""
                           target="_blank"><i
                                class="fa fa-rocket"></i> <span>获取设备连接码</span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="footer :: footer">footer</div>
<script type="text/javascript">
    var tale = new $.tale();

    function delPost(cid) {
        tale.alertConfirm({
            title: '确定删除这个页面吗?',
            then: function () {
                tale.post({
                    url: '/user/device/delete',
                    data: {cid: cid},
                    success: function (result) {
                        tale.alertOkAndReload('页面删除成功');
                    }
                });
            }
        });
    }
</script>
</html>