<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: header">Header</div>

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">仪表盘</h4>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="mini-stat clearfix bx-shadow bg-info">
                            <span class="mini-stat-icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
                            <div class="mini-stat-info text-right">
                                已登记设备<span class="counter">5</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mini-stat clearfix bg-purple bx-shadow">
                            <span class="mini-stat-icon"><i class="fa fa-connectdevelop" aria-hidden="true"></i></span>
                            <div class="mini-stat-info text-right">
                                已连接设备<span class="counter">3</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="mini-stat clearfix bg-success bx-shadow">
                            <span class="mini-stat-icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                            <div class="mini-stat-info text-right">
                                执行任务数<span class="counter">30</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">连接设备:</h4>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span>设备名： apple</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>设备名： mac</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>设备名： linux pc</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">任务日志</h4>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span>xxxx年xx月xx日 启动下载：org</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>xxxx年xx月xx日 完成下载：ppt</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>xxxx年xx月xx日 完成下载：https://file.org/xxx.txt</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer">footer</div>
</html>